@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./assets/Wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: xx-large;
  font-weight: 600;
}

h2{
  font-size:x-large;
  font-weight: 600;
}