@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./assets/Wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}
h2 {
  font-size: x-large;
  font-weight: 600;
}
h3 {
  font-size: large;
  font-weight: 600;
}
h4 {
  font-size: medium;
  font-weight: 600;
}
h5 {
  font-size: small;
  font-weight: 600;
}
h6 {
  font-size: x-small;
  font-weight: 600;
}

button {
  background-color: #000000;
  border-radius: 1rem;
  color: #ffffff;
  padding-inline: 0.5rem;
}
button:hover {
  color: #1984d8;
}
